h1 {
    text-align: center;
}

p {
    text-align: center;
    color: red;
}

body {
    height: 100vh;
    background-image: url("images/A.S._bg-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
