h1 {
    text-align: center;
}

#pt0 {
    color: red;
}

p {
    text-align: center;
    color: red;
}

#div-w {
    text-align: center;
}

#bg-color {
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.562);
    background-size: cover;
}

body {
    height: 100vh;
    background-image: url("images/background/Anarchy_Stocking.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
