h1 {
    text-align: center;
}

p {
    text-align: center;
    color: red;
}

body {
    background-image: url("images/bg-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
