<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>Qvey's Website.</title>
        <link rel="stylesheet" href="../static/css/lookup.css" type="text/css">
        <link rel="icon" href="../static/favicon.ico" type="image/x-icon">
        <link rel="apple-touch-icon" href="../static/images/favicon.jpg" type="image/jpg">
        <meta name="description" content="[Discord] ユーザー検索">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
<body>
    <p>lookup for discord user.</p>
    <input id="InputArea" type="text" placeholder="ID" />
    <a id="search">検索</a>
    <script type="text/javascript" src="../static/js/lookup.js"></script>
    <h5>検索結果</h5>
    {% if message %}
    <p>json: {{ message }} </p>
    <p>{{ message.username }}#{{ message.discriminator }}</p>
    <p>ID: {{ message.id }}</p>
    {% endif %}
</body>
</html>
