<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>Qvey's Website.</title>
        <link rel="stylesheet" href="static/css/style.css" type="text/css">
        <link rel="icon" href="static/favicon.ico" type="image/x-icon">
        <link rel="apple-touch-icon" href="static/images/favicon.jpg" type="image/jpg">
        <meta name="description" content="メインページ">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
<body>
    <div id="bg-color"></div>
    <header>
        <h3>ツール</h3>
        <ul>
            <li id="list0">[Discord] ユーザー検索</li>
        </ul>
    </header>
    <h1>Working.</h1>
    <p>The system is working properly.</p>
    <script src=static/js/system.js type="text/javascript"></script>
    <h1>OWN<span id="pt0">ER</span></h1>
    {% if message %}
    <p>{{message.owner}}</p>
    <p>ID: {{message.id}}</p>
    {% endif %}
    <div>
        <span id="ifm"></span>
    </div>
</body>
</html>
